<section>
    <h2 class="text-sm font-medium uppercase tracking-wider text-zinc-500 dark:text-zinc-300 mb-6">Educación</h2>
    <div>
      <div class="flex justify-between items-baseline mb-2">
        <h3 class="font-medium text-zinc-900 dark:text-white">Grado Superior DAW</h3>
        <span class="text-sm text-zinc-500 dark:text-zinc-300">2023 - Actualidad</span>
      </div>
      <p class="text-zinc-600 dark:text-zinc-300 text-sm">Instituto La Pineda Badalona</p>
    </div>
</section>