<section class="mb-8">
    <h2 class="text-sm font-medium uppercase tracking-wider text-zinc-500 dark:text-zinc-300 mb-5">Idiomas</h2>
    <div class="flex flex-col gap-2">
      <h3 class="text-zinc-600 dark:text-zinc-200 text-sm space-y-1">Ingles - B2</h3>
      <h3 class="text-zinc-600 dark:text-zinc-200 text-sm space-y-1">Castellano - Nativo</h3>
      <h3 class="text-zinc-600 dark:text-zinc-200 text-sm space-y-1">Catalán - Nativo</h3>
    </div>
  </section>