<section class="mb-12">
    <h2 class="text-sm font-medium uppercase tracking-wider text-zinc-500 dark:text-zinc-300 mb-4">Perfil Profesional</h2>
    <p class="text-zinc-600 dark:text-zinc-200 leading-relaxed">
      Desarrollador Full Stack Junior con sólidos conocimientos en tecnologías web modernas. 
      Apasionado por el mundo de la programación web y sus novedades.
    </p>
</section>